.rmmargin {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  button {
    color: rgb(50, 125, 168);
  }
  #colorbox {
    border: 3px solid black;
    height: 100px;
    width: 100px;
    display: inline;
    float: right;
    
  }
  #hlink {
    font-family: sans-serif;
  }
