* {
    cursor:col-resize;
}
p, pre {
    cursor:not-allowed;
}
a {
    cursor: wait;
}

a.alt {
    cursor: no-drop;
}
p.alt {
    cursor:none;
}
pre.alt {
    cursor: none;
}
#holy{
    cursor: alias;
}
