
* {
  font-family: century-gothic, verdana, sans-serif;
  background-color: black;
  color: white;
}
a {
  color: rgb(64, 64, 255);
}
.center {
  text-align: center;
  text-decoration: bold;
}
.noboldcenter {
  text-align: center;
}
